<%= turbo_frame_tag "task_modal" do %>
  <div class="modal fade" id="task_modal" tabindex="-1" aria-labelledby="task_modal" aria-hidden="true" data-controller="modal" data-action="turbo:before-render@document->modal#hideBeforeRender">
    <div id="task-modal-body">
      <%= yield %>
    </div>
  </div>
<% end %>
